* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'rubik';
    src: url(Rubik/Rubik-VariableFont_wght.ttf);
}

.up {
    background-color: #F6F6F9;
    padding-top: 40px;
    padding-bottom: 23px;

}

.header {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;

}

.logo {
    font-family: 'rubik';
    font-weight: 700;
    display: inline-block;
    color: #295091;
    font-size: 28px;
    background-color: #fff;
    box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
    border-radius: 5px;
    padding: 4px 6px;

}

.header p {
    display: inline-block;
    font-family: 'rubik';
    color: #7A7A7A;
    font-size: 16px;
    word-spacing: 10px;
    margin-left: 20px;
}

.bold {
    font-weight: 700;
    color: #295091;

}

.lupa {
    display: inline-block;
    margin-left: 250px;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 11px 9.6px 9px 11px;
    margin-right: 21px;

}

.flag {
    display: inline-block;
    padding: 10px 8px 8px 11px;
    background: #FFFFFF;
    border-radius: 5px;
    margin-right: 22px;

}

.lupa img {
    height: 17px;
    width: 17px;
}

.flag img {
    border-radius: 50%;
}

.flag p {
    font-family: 'rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #535353;
    margin-left: 5px;
}

.telegram {
    background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
    border-radius: 5px;
    padding: 0px 5px;
    border-radius: 5px;
    /* float: right; */
    display: flex;
    align-items: center;


}

.telegram p {
    font-family: 'rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-left: 0px;
    margin-top: 0px;
}

.telegram img {
    width: 25px;
    margin-top: 8px;
    margin-bottom: 8px;

}

button {
    border: none;
}

.navbar {
    background: #fff;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 19px;
    padding: 21px 0px;
    font-family: 'rubik';
    font-weight: 500;
    border-radius: 5px;

}

.adds {
    width: 80%;
    margin: 0 auto;
    display: block;
    margin-top: 18px;
}
.h31{
    position: absolute;
width: 794px;
height: 26px;
left: 117px;
top: 375px;

font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;

color: #000000;
}

.vector{
    position: absolute;
left: 117px;
right: 16.67%;
top: 410px;
bottom: 11.11%;

color: #7688A4;
}

.p0{
    position: absolute;
width: 512px;
height: 19px;
left: 137px;
top: 410px;

font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;

color: #7688A4;

}
.img1{
    position: absolute;
width: 794px;
height: 379px;
left: 115px;
top: 450px;

background: url(image.png);
}
.p1{
    position: absolute;
width: 794px;
height: 594px;
left: 119px;
top: 850px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;

color: #000000;
}
.boshi{
    display: inline;
}

.kjuy{
    box-shadow: -12px 11px 9px rgba(57, 57, 57, 0.25);
box-sizing: border-box;

position: absolute;
width: 510px;
height: 280px;
left: 855px;
top: 391px;

background: #FFFFFF;
border: 2px solid #BCC3CD;
border-radius: 5px;
}
.frew{position: absolute;
    width: 329px;
    height: 33px;
    left: 189px;
    top: 23px;
    
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    
    color: #295091;
}
.gfvb{
    
position: absolute;
width: 168px;
height: 21px;
left: 25px;
top: 77px;

font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;

color: #888888;
}
.kmnj{
    position: absolute;
    width: 222px;
    height: 21px;
    left: 268px;
    top: 77px;
    
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    
    color: #888888;
}
.bhgf{
    position: absolute;
width: 153px;
height: 21px;
left: 25px;
top: 128px;

font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;

color: #888888;
}
.salom12{
    position: absolute;
width: 32px;
height: 32px;
left: 358px;
top: 123px;

}
.salom13{
    
position: absolute;
width: 32px;
height: 33px;
left: 400px;
top: 123px;
}
.salom14{
    position: absolute;
left: 440px;
right: 0%;
top: 123px;
bottom: 0%;

}
.frte{
    
position: absolute;
width: 137px;
height: 21px;
left: 25px;
top: 179px;

font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;

color: #888888;

}
.kjha{
    position: absolute;
left: 325px;
top: 173px;
height: 33px;
width: 150px;
border-radius: 5px;


background: #295091;
border-radius: 5px;
}
.fdsert{
    position: absolute;
left: 9.31px;
right: 1.56%;
top: 7px;
bottom: 1.56%;

background: #FFFFFF;
}
.polik{
    position: absolute;
width: 105px;
height: 21px;
left: 35px;
top: 6px;

font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;

color: #FFFFFF;
}
.kitob{
    position: absolute;
width: 211px;
height: 21px;
left: 25px;
top: 230px;

font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;

color: #888888;
}
.google{
    position: absolute;
left: 257px;
right: 75.9%;
top: 224px;
width: 111px;
background: #295091;
}
.store{
    
position: absolute;
left: 381px;
right: 0%;
top: 224px;
width: 111px;
background: #D6DEEA;
}
















.uyt{
    position: absolute;
width: 100%;
height: 225px;
left: 0px;
top: 1245px;

background: #295093;
}




.jhg{
    position: absolute;
width: 194px;
height: 38px;
left: 119px;
top:18px;

background: #133C82;
border-radius: 5px;
}



.frd{
    position: absolute;
width: 173px;
height: 21px;
left: 10px;
top: 11px;

font-family: 'Rubik';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;

}
.lok{
    position: absolute;
width: 659px;
height: 19px;
left: 511px;
top: 31px;

font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;

color: #FFFFFF;
}



.kij{
    position: absolute;
width: 132px;
height: 38px;
left: 1187px;
top: 20px;

background: #FFFFFF;
border-radius: 5px;
}


.gbh{
    position: absolute;
left: 1.56%;
right: 1.56%;
top: 10px;
bottom: 1.56%;

color: #295093;
}







.uhy{
    position: absolute;
width: 88px;
height: 19px;
left: 35px;
top: 10px;

font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 17px;

color: #295093;
}









.nmj{
    position: absolute;
width: 1200px;
height: 3px;
left: 119px;
top: 76px;

background: #133C82;
}




.kju{
    position: absolute;
width: 365px;
height: 121px;
left: 118px;
top: 91px;

font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;

color: #FFFFFF;
}





.ghju{
    position: absolute;
width: 163px;
height: 106px;
left: 594px;
top: 91px;

font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;

color: #FFFFFF;

}
.loki{
    position: absolute;
    width: 225px;
    height: 106px;
    left: 872px;
    top: 91px;
    
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    
    color: #FFFFFF;
    

}










.kloi{
    position: absolute;
width: 178px;
height: 30px;
left: 150px;
top: 360px;

font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
}

.mnhj{
    box-sizing: border-box;

position: absolute;
width: 600px;
height: 50px;
left: 150px;
top: 391px;

background: #F1F1F1;
opacity: 0.3;
border: 2px solid #285193;
border-radius: 5px;
}
.lkio{
    box-sizing: border-box;

position: absolute;
width: 600px;
height: 50px;
left: 150px;
top: 461px;

background: #F1F1F1;
opacity: 0.3;
border: 2px solid #285193;
border-radius: 5px;
}
.koiu{
    box-sizing: border-box;

position: absolute;
width: 600px;
height: 50px;
left: 150px;
top: 531px;

background: #F1F1F1;
opacity: 0.3;
border: 2px solid #285193;
border-radius: 5px;
}
.gfrt{
    box-sizing: border-box;

position: absolute;
width: 600px;
height: 50px;
left: 150px;
top: 601px;

background: #F1F1F1;
opacity: 0.3;
border: 2px solid #285193;
border-radius: 5px;
}
.hjki{
    box-sizing: border-box;

position: absolute;
width: 600px;
height: 307px;
left: 150px;
top: 671px;

background: #F1F1F1;
opacity: 0.3;
border: 2px solid #285193;
border-radius: 5px;
}
.loiu{
    box-sizing: border-box;

position: absolute;
width: 221px;
height: 50px;
left: 150px;
top: 998px;

background: #FBFBFB;
opacity: 0.3;
border: 2px solid #285193;
border-radius: 5px;
}
.yui{
    position: absolute;
width: 221px;
height: 50px;
left: 150px;
top: 1068px;

background: #FBFBFB;
opacity: 0.3;
border: 2px solid #285193;
border-radius: 5px;
}
.juyt{
    box-sizing: border-box;

position: absolute;
width: 221px;
height: 50px;
left: 150px;
top: 1138px;

background: #295093;
border: 2px solid rgba(40, 81, 147, 0.54);
border-radius: 5px;
}